@font-face {
    font-family: 'Kelson';
    src: url('fonts/KelsonSansBG-Normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KelsonLight';
    src: url('fonts/KelsonSansBG-Light.woff') format('woff2');
    font-weight: lighter;
    font-style: lighter;
}
h1{
    font-family: 'Kelson';
}
/* Ширина полоси прокрутки */
::-webkit-scrollbar {
    width: 8px;
}
/* Колір фону полоси прокрутки */
::-webkit-scrollbar-track {
    background-color: #eee7d9;
}
/* Колір заповнення полоси прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #436650;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0f973a;
}
body {
    background-color: #eee7d9; /* Колір фону сторінки */
    font-family: Arial, sans-serif; /* Шрифт тексту */
    margin: 0; /* Усуває зовнішні відступи від країв сторінки */
    padding: 0; /* Усуває внутрішні відступи від країв сторінки */
  }
  
  .menu {
    background-color: #33403e; /* Колір фону меню */
  }
  
  header {
    padding: 10px 20px; /* Додає внутрішні відступи для заголовка */
  }
  
  nav ul {
    list-style: none; /* Усуває маркери списку */
    margin: 0; /* Усуває зовнішні відступи для списку */
    padding: 0; /* Усуває внутрішні відступи для списку */
  }
  
  nav ul li {
    display: inline; /* Розміщає пункти меню в рядок */
    margin-right: 20px; /* Додає проміжок між пунктами меню */
  }
  
  nav a {
    text-decoration: none; /* Усуває підкреслення з посилань */
    color: #fff; /* Колір тексту посилань */
  }
  
  main {
    color: #202d25; /* Колір основного тексту */
    padding: 20px; /* Додає внутрішні відступи для вмісту */
  }
  
  .obkladynka {
    background-color: #9fb0a9; /* Колір фону обкладинки */
    color: #fff; /* Колір тексту обкладинки */
    text-align: center; /* Вирівнює текст по центру */
    padding: 20px; /* Додає внутрішні відступи для обкладинки */
  }
  
  h1, h2 {
    margin-bottom: 10px; /* Додає проміжок під заголовками */
  }
  
  button {
    background-color: #33403e; /* Колір фону кнопки */
    color: #fff; /* Колір тексту кнопки */
    border: none; /* Усуває границю кнопки */
    padding: 10px 20px; /* Додає внутрішні відступи для кнопки */
    cursor: pointer; /* Змінює вигляд курсора при наведенні на кнопку */
  }
  
  footer {
    background-color: #33403e; /* Колір фону футера */
    padding: 10px; /* Додає внутрішні відступи для футера */
    text-align: center; /* Вирівнює текст по центру */
    position: fixed;
    bottom: 0;
    padding: 15px 10px;
    overflow: hidden;
    left: 0;
    right: 0;
  }
  
  footer a {
    color: #fff; /* Колір тексту посилань у футері */
    text-decoration: none; /* Усуває підкреслення з посилань у футері */
  }
button {
    background-color: #436650;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}
button:hover {
    background-color: #0f973a;
}  
button a{
    text-decoration: none; /* Вилучення підкреслення для посилань */
    color: #f4ede3;
}
button a:hover{
    text-decoration: none; /* Вилучення підкреслення для посилань */
    color: #f4ede3;
}

footer a{
    padding: 20px;
    text-decoration: none;
}
footer a:hover{
    text-decoration: none; /* Вилучення підкреслення для посилань */
    color: #0f973a;
}