@font-face {
    font-family: 'Kelson';
    src: url('fonts/KelsonSansBG-Normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KelsonLight';
    src: url('fonts/KelsonSansBG-Light.woff') format('woff2');
    font-weight: lighter;
    font-style: lighter;
}
h1{
    font-family: 'Kelson';
}
/* Ширина полоси прокрутки */
::-webkit-scrollbar {
    width: 8px;
}
/* Колір фону полоси прокрутки */
::-webkit-scrollbar-track {
    background-color: #eee7d9;
}
/* Колір заповнення полоси прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #436650;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0f973a;
}
body {
    background-color: #f4ede3;
    margin: 0;
    height: 100%;
}
.menu {
    margin-bottom: 0px;
    z-index: 1000;
    background-color: #e6dccf;
    padding: 13px 0px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
}
header {
    color:#436650;
}
header nav ul {
    padding: 0;
    margin: 0;
}
header nav ul li {
    display: inline; /* Розміщення елементів списку в ряд */
    margin-right: 30px; /* Відступ між пунктами меню */
}
header nav ul li a {
    text-decoration: none; /* Вилучення підкреслення для посилань */
    color: #436650; /* Колір тексту посилань за замовчуванням */
    font-size: 16px; /* Розмір тексту за замовчуванням */
    transition: color 0.2s, transform 0.2s; /* Плавний перехід для кольору та розміру тексту */
}
.hovered {
    color: #0f973a; /* Колір при наведенні */
}
main {
    display: flex; /* Встановлення flex-контейнера */
    justify-content: space-between; /* Розташування кнопок по краях контейнера */
    align-items: center; /* Вирівнювання по вертикалі по центру */
    margin-bottom: 50px;
}
main div{
    margin: 10px;
    margin-top: 35px;
}
main h1 {
    color:#436650;
}
p {
    color:#202d25;
    font-family: 'KelsonLight';
}
a{
    font-family: 'KelsonLight';
}
button {
    background-color: #436650;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}
button:hover {
    background-color: #0f973a;
}  
button a{
    text-decoration: none; /* Вилучення підкреслення для посилань */
    color: #f4ede3;
}
button a:hover{
    text-decoration: none; /* Вилучення підкреслення для посилань */
    color: #f4ede3;
}
h1, p {
    flex: 1; /* Розтягнення текстових елементів на залишок доступного простору */
}
::selection {
    background-color: #436650; /* Колір фону виділеного тексту */
    color: #f4ede3; /* Колір тексту виділеного тексту */
}
footer{
    position: fixed;
    bottom: 0;
    padding: 15px 10px;
    overflow: hidden;
    left: 0;
    right: 0;
    text-align: right;
}
footer a{
    padding: 20px;
    text-decoration: none;
    color: #436650;
}
footer a:hover{
    text-decoration: none; /* Вилучення підкреслення для посилань */
    color: #0f973a;
}
.image-options{
    margin-bottom: 50px;
}
